{% extends "base.html" %}

{% block content %}
<h1 class="title">
  tplive home
</h1>

<p>
  Hi, and welcome to my homepage.
</p>

<p>Things I intend to put here:</p>

<ul>
  <li>Travel diaries and tales of bold adventures</li>
  <li>TIL; Today I learned.</li>
  <li>Contact information, including my Public GPG key.</li>
  <li>Various stuff I care about</li>
  <li>Podcasts I recommend</li>
  <li>Links to fun stuff on the Internets.</li>
</ul>

<p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a></p>
<p><a href="{{ get_url(path='@/about/index.md') }}">Information</a></p>
{% endblock content %}